// 1.
.awards-wrapper
  //max-width: 900px 
  margin: 0 auto
  padding: 40px 20px

// 2. Header
.section-header
  display: flex
  align-items: center 
  gap: 12px 
  margin-bottom: 50px 
  margin-top: 20px
 
// 3. icon
.cert-icon
  font-size: 1.8rem 
  display: flex
  align-items: center
  justify-content: center
  background: rgba($gama, 0.1)
  width: 50px
  height: 50px
  border-radius: 50%

// 4. Title
.section-title
  color: $port-text-h
  font-size: 1.8rem
  margin: 0 !important // clear margin
  display: flex
  align-items: center
  gap: 15px

// 5. Digital Badges
.badge-grid
  display: grid
  grid-template-columns: repeat(3, 1fr) 
  gap: 15px 15px 
  margin-bottom: 50px

  // Badge item
  .badge-item
    background: $port-text-h !important 
    border-radius: 15px !important 
    padding: 5px 
    display: flex
    justify-content: center
    align-items: center
    min-height: 250px !important 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1) 
    transition: all 0.3s ease 
    cursor: pointer

    &:hover
      transform: translateY(-8px)
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2) 
      background: $port-text-h !important 
      transform: translateY(-8px) scale(1.02)

    // credly iframe
    iframe, .credly-badge-embed
      width: 100% !important
      min-height: 270px !important
      margin-bottom: -10px !important
      border: none !important
      margin: 0 !important

// 6. Academic Certifications
.cert-grid
  display: grid
  grid-template-columns: repeat(2, 1fr) 
  gap: 20px

@media (max-width: 768px)
  .badge-grid, .cert-grid
    grid-template-columns: 1fr 

// 7. Certification cards
.cert-card
  background: rgba(255, 255, 255, 0.02) 
  border: 1px solid rgba($gama, 0.1) 
  min-height: 180px
  padding: 30px
  border-radius: 12px
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 15px
  transition: all 0.3s ease
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05)

  &:hover
    background: rgba(255, 255, 255, 0.05) 
    border: 1px solid rgba($alpha, 0.3)
    transform: translateY(-5px)
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2)

  // Certifications information
  .cert-info
    text-align: left
    display: flex
    flex-direction: column
    gap: 8px 

  // University
    .award-org
      color: $omega 
      font-size: 1rem
      margin: 0
      text-transform: uppercase
      letter-spacing: 0.5px

    h3
      margin: 0
      font-size: 1.4rem
      line-height: 1.4

        .award-link
          color: $port-text-h
          text-decoration: none
          transition: all 0.2s ease
        
        &:hover
          color: $port-text-h
          text-decoration: underline
          opacity: 0.8

    // Date
    .award-date
      color: rgba($port-text-h, 0.6)
      font-size: 0.95rem
      font-weight: 300

// 8. Divider 
.section-divider
  border: 0
  border-top: 1px solid rgba(255, 255, 255, 0.1)
  margin: 60px 0 