.awards-wrapper
  //max-width: 900px 
  margin: 0 auto
  padding: 40px 20px

.section-title
  color: $port-text-h
  font-size: 1.8rem
  margin-bottom: 30px
  display: flex
  align-items: center
  gap: 15px
  .count
    font-size: 1rem
    opacity: 0.5
    color: $omega

.badge-grid
  display: grid
  grid-template-columns: repeat(3, 1fr) 
  gap: 10px 15px 
  margin-bottom: 50px

  .badge-item
    background: $port-text-h !important 
    border-radius: 15px !important 
    padding: 5px 
    display: flex
    justify-content: center
    align-items: center
    min-height: 280px !important 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1) 
    
    iframe, .credly-badge-embed
      width: 100% !important
      min-height: 270px !important
      margin-bottom: -10px !important
      border: none !important
      margin: 0 !important

.cert-grid
  display: grid
  grid-template-columns: repeat(2, 1fr) 
  gap: 20px

@media (max-width: 768px)
  .badge-grid, .cert-grid
    grid-template-columns: 1fr 

.cert-card
  background: rgba(255, 255, 255, 0.05)
  border: 1px solid rgba($alpha, 0.2)
  padding: 20px
  border-radius: 12px
  display: flex
  align-items: center
  gap: 15px
  transition: 0.3s
  &:hover
    background: rgba($alpha, 0.1)
    transform: translateY(-3px)

.section-divider
  border: 0
  border-top: 1px solid rgba(255, 255, 255, 0.1)
  margin: 40px 0