$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #666
$beta: #222
$gama: #575757
$delta: #4b0082
$epsilon: #ededed
$omega: #fff
$zeta: #000
$kappa: #27f36a26

// Portfolio Colors
$port-primary:   #3f51b5
$port-accent:    #9300ff
$port-text-h:    #e8eaf6
$port-text-p:    #cfd8dc
$port-tag-bg:    rgba(63, 81, 181, 0.15)

// Experience Color
$ex-primary: #430075

$thin-font: 300

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
